<h3>Shipping Info</h3>
<form (ngSubmit)="onSubmit()">
    <div>
        <label for="Firstname"></label>
        <input type="text" placeholder="First Name" name="Firstname" required [(ngModel)]="model.firstName">
    </div>
    <div>
        <label for="Lastname"></label>
        <input type="text" placeholder="Last Name" name="Lastname" required [(ngModel)]="model.LastName">
    </div>
    <div>
        <label for="address"></label>
        <input type="text" placeholder="Address" name="address" required [(ngModel)]="model.address">
    </div>
    <div>
        <label for="email"></label>
        <input type="email" placeholder="Email" name="email" email required [(ngModel)]="model.email">
    </div>
    <div>
        <label for="phonenumber">Subject: </label>
        <input type="text" placeholder="Phone Number" name="phonenumber" required [(ngModel)]="model.phoneNumber">
    </div>
    <div>
        <button (click)="btnClick" class="btn-primary">Checkout</button>  take from local storage with git request
    </div>
    <h3></h3> 
</form>