:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
}

#shoping-page {
  background-color: #cdcdcd;
  padding-bottom: 3rem;
}

.grid {
  padding: 5rem 4rem 0 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  justify-items: center;
}

.grid-item {
  border: 2px none;
  border-radius: 7px;
}

.grid-item img {
  width: 21rem;
  height: 15rem;
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.btn {
  width: 13rem;
  height: 3rem;
}
