<!-- *** ONLY USED FOR TESTING***
<div class="container">
    <table >
      <tr>
        <th>Customer Name</th>
        <th>Order Date</th>
        <th></th>
      </tr>
      <tr>
        <td>FirstName LastName</td>
        <td>12/01/2021</td>
        <td><a routerLink="/order-details">View</a></td>
      </tr>
      <tr>
        <td>First Last</td>
        <td>11/30/2021</td>
        <td><a routerLink="/order-details">View</a></td>
      </tr>
    </table>
    </div> -->

<div class="container">
    <table *ngFor="let order of orders; let i=index">
      <tr>
        <th>Customer Name</th>
        <th>Order Date</th>
        <th></th>
      </tr>
      <tr>
        <td>{{order.firstname}} {{order.lastName}}</td>
        <td>{{order.date}}</td>
        <td><a routerLink="/order-details/{{order.id}}">View</a></td>
      </tr>
    </table>
    </div>

