
nav {
    padding: 20px;
    margin: auto;
    max-width: 2000px;
    display: flex;
    flex-direction: row;
    background-color: var(--primary-color);
    color: var(--light-color);

}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 700px;
    


}

ol {
    list-style-type: none;
    margin: 0;
    padding-left: 50px;

}


li {
    float: left;
}


li a {
    display: block;
    padding: 14px 16px;
    font-size: medium;
    font-weight: bold;
    color: var(--dark-color);
    
}

li a:hover {
    background-color: var(--secondary-color);
    border-radius: 8px
}  
