<!--<head><script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script></head>-->
<nav>
    <ul>
        <!--need image of cart and # of item in cart-->
        <li><a class="checkout" routerLink="/cart">Checkout</a> </li>
        <li><a routerLink="/products">Shop</a></li>
        <li><a routerLink="/order-history">Order History</a></li>
        <li><a routerLink="/cart">Checkout</a></li>
        <li><a routerLink="/login">Log Out</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>


