<nav>
    <ol>
        <li><i class="fas fa-shopping-cart fa-3x"></i></li>
        <li>
            <h1>{{count}}</h1>
        </li>
        <li><a routerLink="/cart">Checkout</a></li>
    </ol>
    <ul>
        <li><a routerLink="/shop">Shop</a></li>
        <li><a routerLink="/order-history">Order History</a></li>
        <li><a routerLink="/login">Log Out</a></li>
    </ul>
</nav>

<!--Counter works but the button need to be on the shop page -->
<!-- <button (click)="counter()">Add to Cart</button> -->


<!-- 
<img src="../assets/images/Assorted Pastry Tray.jpg" alt="">
<p>Assorted pastry Tray</p>
<p>$40.00</p>
<button (click)="counter()">Add to Cart</button>

<img src="../assets/images/Chocolate Caramel Petit Fours (6 pack).jpg" alt="">
<p>Chocolate Caramel Petit Fours (pack of 6)</p>
<p>$40.00</p>
<button (click)="counter()">Add to Cart</button> -->

<div class="card">
  <div class="one">
    <img src="../assets/images/Assorted Pastry Tray.jpg" alt="Avatar" style="width:75%">
    <p>Assorted Pastry Tray</p>
    <p>$40.00</p>
    <button (click)="counter()">Add to Cart</button>
  </div>
  
  <div class="two">
    <img src="../assets/images/Chocolate Caramel Petit Fours (6 pack).jpg" alt="Avatar" style="width:75%">
    <p>Chocolate Caramel Petit Fours(Pack of 6)</p>
    <p>$15.00</p>
    <button (click)="counter()">Add to Cart</button>
  </div>
  
 <div class = "three">
    <img src="../assets/images/Chocolate Mint Chip 1.jpg" alt="Avatar" style="width:75%">
    <p>Chocolate Mint Chip(pack of 3)</p>
    <p>$8.00</p>
    <button (click)="counter()">Add to Cart</button>
  </div>
  
  <div class="four">
  <img src="../assets/images/Christmas Cookies In a jar - 20 cookies.jpg" alt="Avatar" style="width:75%">
    <p>Christmas Cookies in a Jar(20 Cookies)</p>
    <p>$12.00</p>
    <button (click)="counter()">Add to Cart</button>
  </div>
  
  <div class="five">
  <img src="../assets/images/Dutch Chocolate Brownie.jpg" alt="Avatar" style="width:75%">
    <p>Dutch Chocolate Brownie</p>
    <p>$5.00</p>
    <button (click)="counter()">Add to Cart</button>
  </div>
  
  <div class="six">
    <img src="../assets/images/Grandmas Chocolate Chip Cookies.jpg" alt="Avatar" style="width:75%">
    <p>Classic Chocolate Chip Cookies(Pack of 3)</p>
    <p>$6.00</p>
    <button (click)="counter()">Add to Cart</button>
  </div>
  
  <div class="seven">
  <img src="../assets/images/Hot Chocolate Covered Almonds - 12oz.jpg" alt="Avatar" style="width:75%">
    <p>Hot Chocolate Covered Almonds(12oz)</p>
    <p>$24.00</p>
    <button (click)="counter()">Add to Cart</button>
  </div>
  
  <div class="eight">
  <img src="../assets/images/Red-Velvet Cake pops (Pack of 6).jpg" alt="Avatar" style="width:75%">
    <p>Red Velvet Cake Pops(Pack of 6)</p>
    <p>$16.00</p>
    <button (click)="counter()">Add to Cart</button>
  </div>
  
  <div class="nine">
  <img src="../assets/images/Vanilla Cake Pops (Pack Of 8).jpg" alt="Avatar" style="width:75%">
    <p>Vanilla Cake Pops(Pack of 8)</p>
    <p>$14.00</p>
    <button (click)="counter()">Add to Cart</button>
  </div>
</div>

<app-shop></app-shop>
<router-outlet></router-outlet>