<div class="container flex">
<h3>Shipping Information</h3>
<form id="customer-details" (ngSubmit)="createNew()">
    <div>
        <label for="firstName"></label>
        <input type="text" placeholder="First Name" name="firstName" required [(ngModel)]="order.firstName">
    </div>
    <div>
        <label for="lastName"></label>
        <input type="text" placeholder="Last Name" name="lastName" required [(ngModel)]="order.lastName">
    </div>
    <div>
        <label for="address"></label>
        <input type="text" placeholder="Address" name="address" required [(ngModel)]="order.address">
    </div>
    <div>
        <label for="email"></label>
        <input type="text" placeholder="Email" name="email" email required [(ngModel)]="order.email">
    </div>
    <div>
        <label for="phoneNumber"></label>
        <input type="text" placeholder="Phone Number" name="phoneNumber" required [(ngModel)]="order.phoneNumber">
    </div>
    <h3>Payment Information</h3>
    <div>
    <label for="creditCardNumber"></label>
    <input type="text" placeholder="Credit Card Number" name="creditCardNumber" required [(ngModel)]="order.creditCardNumber">
</div>
    <div>
    <label for="expiration"></label>
    <input type="text" placeholder="Expiration Date (MM/YY)" name="expiration" required [(ngModel)]="order.expiration">
</div>
    <div>
    <label for="ccv"></label>
    <input type="text" placeholder="CCV" name="ccv" required [(ngModel)]="order.ccv">
</div>
    <div>
        <button (click)="getItems" class="btn-primary"><a routerlink="/confirmation"></a>Checkout</button>  
        <!-- take from local storage with get request -->
        
    </div>
</form>
