<h1>Order Summary</h1>
<!-- <br>
<div id="cartDetailsContainer" *ngFor="let item of items">
        <ul>Name: </ul>
        <ul>{{item.product.name}}</ul>
        <ul>Price: </ul>
        <ul>{{item.product.price}}</ul>
        <ul> #:</ul>
        <ul> {{item.productQuantity}}</ul>
        <button>X</button>
     
    For using DOM... Not currently used and typescript is commented out...
    <h2 id="cartDetailsName">Cart Item One</h2>
    <h3 id="cartDetailsPrice">$0.00</h3>
    <button id="deleteCartItemOne">X</button>
</div> -->
<div id="cart-summary">

    <table>
        <tr>
            <th>Item</th>
            <th>Qty.</th>
            <th>Price</th>
            <th></th>
        </tr>
        <tr *ngFor="let item of items">
            <td>{{item.product.name}}</td>
            <td id="qty">{{item.productQuantity}}</td>
            <td>${{item.subTotal/100}}</td>
            <td><button class="btn-primary btn" (click)="delete(item)">Delete</button></td>
        </tr>
    </table>

    <div>
        <h3>Sub Total: ${{subTotal}}</h3>
        <h3>Tax: ${{tax}}</h3>
        <h3>Total: ${{total}}</h3>
    </div>
</div>