:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: #f3f3f3;
  --dark-color: #333;
  --max-width: 1100px;
}

nav {
  padding: 20px;
  margin: auto;
  max-width: 2000px;
  background-color: var(--light-color);
  color: var(--light-color);
}

.logo h1 {
  color: var(--dark-color);
  font-size: 2rem;
}
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

.checkout {
  margin: 0;
  padding: 0;
}

i {
  color: var(--dark-color);
}
.links {
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 14px 16px;
  font-size: medium;
  font-weight: bold;
  color: var(--dark-color);
}

li a:hover {
  background-color: var(--secondary-color);
  border-radius: 8px;
}
