nav {
  padding: 20px;
  margin: auto;
  max-width: 2000px;
  background-color: var(--primary-color);
  color: var(--light-color);
  
}

.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

ul{
  list-style-type: none;
}



.checkout {
  margin: 0;
  padding: 0;
}

.links {
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  padding: 14px 16px;
  font-size: medium;
  font-weight: bold;
  color: var(--dark-color);
}

li a:hover {
  background-color: var(--secondary-color);
  border-radius: 8px;
}
