<div id="login">
    <div class="container flex-container">
        <form class="flex">
            <div id="heading">
                <h1>Login</h1>
                <h3 *ngIf="invalidLogin">Invalid username and/or password.</h3>
            </div>
            <div>
                <div class="form-container"></div>
                <label for="Username"></label>
                <input class="form-input" name="Username" [(ngModel)]="credentials.userName" type="email"
                    placeholder="Username">
            </div>
            <div class="form-container">
                <label for="Password"></label>
                <input class="form-input" name="Password" [(ngModel)]="credentials.userPassword" type="password"
                    placeholder="Password">
            </div>
            <div class="flex-button">
                <button class="form-button btn-primary btn:hover" (click)="logIn()">Login</button>
                <button class="form-button btn-primary btn:hover" (click)="goToSignUp()">Sign Up</button>
            </div>



        </form>
    </div>
</div>