table {
    width: 100%;
    padding: 15px;
    border-collapse: collapse;
  }

  td {
    text-align: center;
  }
  
  th {
    height: 70px;
    background-color: var(--secondary-color);
    color: var(--light-color);
  }

  th, td {
    padding: 15px;
    border-bottom: 1px solid var(--dark-color);
  }

  a:hover {
    color: var(--secondary-color);
  }