<!-- ***ONLY USED FOR TESTING*** -->
<!-- <div class="container flex">
    <div>
      <h3>Shipping Information</h3>
        <ul>
          <li>First Name</li>
          <li>Last Name</li>
          <li>5454 Acorn Ave Littleford, GA 45971</li>
          <li>email@gmail.com</li>
          <li>217-555-6568</li>
        </ul>
    </div>
    <div>
      <h3>Order Details</h3>
        <table>
          <tr>
            <th>Product</th>
            <th>Price</th>
          </tr>
          <tr>
            <td>Bagel</td>
            <td>$4.90</td>
          </tr>
          <tr>
            <th>Subtotal</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>$24.50</td>
            <td>$6.22</td>
        </tr>
        </table>
        </div>
        </div>
    <div><button (click)="goBack()">go back</button></div> -->

<div class="background">
  <div class="container">
    <div class="flex">
      <div id="customer-details">
        <div id="shippingInformation">
          <h1>Shipping Information</h1>
          <ul>
            <li><span class="bold">First Name:</span> {{oneOrder.firstName}}</li>
            <li><span class="bold">Last Name:</span> {{oneOrder.lastName}}</li>
            <li><span class="bold">Address:</span> {{oneOrder.address}}</li>
            <li><span class="bold">Email:</span> {{oneOrder.email}}</li>
            <li><span class="bold">Phone Number:</span> {{oneOrder.phoneNumber}}</li>
          </ul>
        </div>
        <div id="payment-infomation">
          <h1>Payment Infomation</h1>
          <ul>
            <li><span class="bold">Credit Card:</span> {{oneOrder.creditCardNumber}}</li>
            <li><span class="bold">Expiration:</span> {{oneOrder.expiration}}</li>
            <li><span class="bold">CCV:</span> {{oneOrder.ccv}}</li>
          </ul>
        </div>
      </div>

      <div id="order-summary">
        <h1>Order Summary</h1>
        <table>
          <tr>
            <th>Product</th>
            <th>QTY.</th>
            <th>Price</th>
          </tr>
          <tr *ngFor="let cartItem of cartItems">
            <td>{{cartItem.product.name}}</td>
            <td>{{cartItem.productQuantity}}</td>
            <td>{{cartItem.subTotal/ 100 |currency}}</td>
          </tr>

        </table>
        <div>
          <h3>Sub Total: {{oneOrder.subTotal/ 100 |currency}}</h3>
          <h3>Tax: {{tax/ 100 |currency}}</h3>
          <h3>Total: {{oneOrder.total / 100 |currency}}</h3>
        </div>
      </div>
    </div>

  </div>
</div>