<header id="showcase">
    <div class="container">
        <div class="showcase-container">
            <div class="showcase-content">
                <h1>Freshly Baked </h1>
                <h1>Everyday</h1>
                <div class="content">
                    <p>Offering a variety bakery goods passionately made from the finest ingredients.</p>
                    <p>Sign up today to start shoping. It is easy.</p>
                </div>

                <div>
                    <a routerLink="/login" class="btn btn-primary">Login</a>
                    <a routerLink="/sign-up" class="btn btn-primary">Sign up</a>
                </div>

            </div>
        </div>
    </div>
</header>