<p>cart-details-works!</p>
<div id="cartDetailsContainer" >
        <table>
            <thead>
                <tr>
                    <th colspan="2">Your Shopping Cart:</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items; index as i">
                    <td>{{item.product.name}}</td>
                    <td>{{item.product.price}}</td>
                    <td>#{{item.productQuantity}}</td>
                    <button (click)="deleteCartItem(i)" >X</button>
                </tr>
            </tbody>
            <button (click)="deleteCartAll()">Empty Cart</button>
        </table>
    
        <!-- <ul>Name: </ul>
        <ul></ul>
        <ul>Price: </ul>
        <ul></ul>
        <ul> #:</ul>
        <ul> </ul> -->
        
    <!-- For using DOM... Not currently used and typescript is commented out...
    <h2 id="cartDetailsName">Cart Item One</h2>
    <h3 id="cartDetailsPrice">$0.00</h3>
    <button id="deleteCartItemOne">X</button> -->
</div>